---
description: 이메일 확인 - Marketo 문서 - 제품 설명서
title: 전자 메일 확인
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 05129f546cf2ba0df5c608485adf73c26d4b4f1e
workflow-type: tm+mt
source-wordcount: '135'
ht-degree: 0%

---

# 전자 메일 확인 {#email-verification}

Adobe Marketo Engage 가입을 위해서는 API가 아닌 모든 사용자가 자신의 이메일 주소를 확인해야 합니다. SSO(Single Sign-On) 사용자는 이메일 확인을 통해 구독을 활성화하면 자동으로 이메일을 확인합니다.

**사용자 초대**

관리자가 사용자를 초대하면 해당 사용자는 초대 링크를 클릭하면 자동으로 확인됩니다. SSO를 사용하는 사용자는 자동으로 확인됩니다.

**이메일 주소 변경**

사용자의 이메일 주소가 변경되면 확인되지 않습니다. 재확인할 수 있는 이메일이 발송됩니다. 관리자는 을(를) 클릭하여 해당 이메일을 수동으로 다시 보낼 수 있습니다 **재전송 확인**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**사용자 및 역할**

관리자 > 사용자 및 역할의 이메일 상태 열에는 모든 사용자의 확인 상태가 표시됩니다.

![](assets/email-verification-3.png)

확인되지 않은 사용자를 확인하려면 해당 레코드를 선택하고 **이메일 확인** 버튼을 클릭합니다.
