---
description: 이메일 확인 - Marketo 문서 - 제품 설명서
title: 전자 메일 확인
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 342034eeca4ba0084824b833f14d8e8c3b65d6e3
workflow-type: tm+mt
source-wordcount: '0'
ht-degree: 0%

---

# 전자 메일 확인 {#email-verification}

Adobe Marketo Engage 구독을 사용하려면 API가 아닌 모든 사용자가 이메일 주소를 확인해야 합니다. 구독이 전자 메일 확인으로 활성화되면 SSO(Single Sign-On) 사용자는 전자 메일을 자동으로 확인합니다.

**사용자 초대**

관리자가 사용자를 초대하면 초대 링크를 클릭하면 해당 사용자가 자동으로 확인됩니다. SSO가 있는 사용자는 자동으로 확인됩니다.

**이메일 주소 변경**

사용자의 이메일 주소가 변경되면 확인되지 않습니다. 재확인을 허용하는 이메일이 발송됩니다. 사용자는 다음을 클릭하여 해당 이메일을 수동으로 다시 보낼 수 있습니다. **확인 다시 보내기**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**사용자 및 역할**

관리자 > 사용자 및 역할의 이메일 상태 열에는 모든 사용자의 확인 상태가 표시됩니다.

![](assets/email-verification-3.png)

확인되지 않은 사용자에게 확인 이메일을 다시 보내려면 해당 기록을 선택하고 **이메일 확인** 단추를 클릭합니다.
