---
description: 이메일 확인 - Marketo 문서 - 제품 설명서
title: 전자 메일 확인
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: f00d43080136dd986a6d81d6bc8102cdaf788b4c
workflow-type: tm+mt
source-wordcount: '0'
ht-degree: 0%

---

# 전자 메일 확인 {#email-verification}

사용자를 위한 이메일 확인을 다루는 새로운 페이지를 만들겠다고 말씀하신 것 같습니다

사용자 초대 관리자가 사용자를 초대할 때, UI나 사용자 경험이 변경되지 않습니다. 사용자가 초대 링크를 클릭하면 해당 이메일이 자동으로 확인됩니다. SSO를 사용하는 사용자가 자동으로 확인됩니다

사용자 계정 화면에 확인된 이메일 주소가 표시됩니다. 이메일 주소가 업데이트되면 UI는 계정에 대한 이메일이 확인되지 않고 이메일이 전송된다는 것을 반영합니다(첨부된 이메일 참조)

관리자 - 사용자 및 역할 페이지 사용자의 확인 상태를 보여주는 새 열 새로 만들기 단추를 사용하여 사용자에 대한 이메일 확인을 다시 트리거합니다

MyMarketo 확인되지 않은 이메일이 있는 사용자가 로그인하면 내 Marketo 페이지(ONLY)에 배너가 표시됩니다.
