---
description: 이메일 확인 - Marketo 문서 - 제품 설명서
title: 전자 메일 확인
hide: true
hidefromtoc: true
source-git-commit: 7e6fab646ec03394cb406fc41442d585c162bb25
workflow-type: tm+mt
source-wordcount: '10'
ht-degree: 0%

---

# 전자 메일 확인 {#email-verification}
