---
description: 이메일 확인 - Marketo 문서 - 제품 설명서
title: 전자 메일 확인
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: f60c40441be4bcfcc277b620f6d4e19b2047caef
workflow-type: tm+mt
source-wordcount: '154'
ht-degree: 0%

---

# 전자 메일 확인 {#email-verification}

Adobe Marketo Engage 가입을 위해서는 Marketo Engage 관리자를 비롯한 모든 비API 전용 사용자가 이메일 주소를 확인해야 합니다. 관리자 역할이 지정되지 않은 SSO(Single Sign-On) 사용자는 이메일 확인 기능을 사용하여 구독이 활성화되면 자동으로 이메일이 확인됩니다.

**사용자 초대**

관리자가 사용자를 초대하면 해당 사용자는 초대 링크를 클릭하면 자동으로 확인됩니다. 관리자 역할이 지정되지 않은 SSO 사용자는 자동으로 확인됩니다.

**이메일 주소 변경**

사용자의 이메일 주소가 변경되면 확인되지 않습니다. 재확인할 수 있는 이메일이 발송됩니다. 사용자는 을(를) 클릭하여 해당 이메일을 수동으로 다시 보낼 수 있습니다 **재전송 확인**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**사용자 및 역할**

관리자 > 사용자 및 역할의 이메일 상태 열에는 모든 사용자의 확인 상태가 표시됩니다.

![](assets/email-verification-3.png)

확인되지 않은 사용자에게 확인 이메일을 다시 보내려면 해당 레코드를 선택하고 **이메일 확인** 버튼을 클릭합니다.
